{% extends 'base.html' %}
{% load static %}
{% block content %}
 <h2>Registration</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
<script type="text/javascript">
    var checkUsernameURL = "{% url 'check_username' %}";
</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'dist/registerValidation.bundle.js' %}"></script>
{% endblock %}
