<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Messenger{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">Логін</a></li>
                <li><a href="{% url 'chat_list' %}">Чати</a></li>
                <li><a href="{% url 'user_permissions' %}">Дозволи користувачів</a></li>
                <li><a href="{% url 'user_profile' %}">Профіль</a></li>
                <li><a href="{% url 'create_chat' %}">Створити чат</a></li>
            </ul>
        </nav>
    </header>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
    // Перевірка, чи є повідомлення в Django messages framework
    {% if messages %}
        // Створюємо об'єкт, який містить всі повідомлення
        var messages = [];
        {% for message in messages %}
            // Додаємо кожне повідомлення до списку
            messages.push("{{ message|escapejs }}");
        {% endfor %}
        // Викликаємо SweetAlert для кожного повідомлення
        messages.forEach(function(msg) {
            swal({
                text: msg,
                icon: "error" // Іконка повідомлення (може бути "success", "error", "warning", "info", "question")
            });
        });
    {% endif %}
</script>
    <script>
    // Перевіряємо, чи сторінка має помилку 403 (Forbidden)
    if (window.location.href.indexOf('403') !== -1) {
        // Перезавантажуємо сторінку
        window.location.reload();
    }
</script>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 Messenger</p>
    </footer>

    {% block extra_js %}
    {% endblock %}
</body>
</html>
