<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output Page</title>
</head>
<body>
    <h1>Вітаю на сторінці виведення данихt</h1>
    <ul>
        <p>Список всіх користувачів</p>
        {% for member in members %}
            <li>{{ member.name }} - {{ member.email }} </li>
            {% for course in member.courses.all %}
                    <h5>{{ course }}</h5>
                {% endfor %}
        {% endfor %}
    </ul>
</body>
</html>

