{% extends "base.html" %}
{% load static %}

{% block title %}Чат: {{ chat.name }}{% endblock %}

{% block content %}
<script>
    const chatId = {{ chat.id }};
</script>
<h1>{{ chat.name }}</h1>

<h2>Учасники</h2>

<ul>
    {% for user in chat.participants.all %}
    <li>
        {{ user.username }} - <span id="status-user-{{ user.id }}">...</span>

            <form action="{% url 'remove_participant' chat.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.pk }}" />
                <button type="submit">Видалити</button>
            </form>

    </li>
    {% endfor %}
</ul>

{% if request.user.is_superuser %}
    <a href="{% url 'add_participant' chat.pk %}">Додати учасників</a>
{% endif %}


<h2>Повідомлення</h2>
<ul>
    {% for message in chat.messages.all %}
    <li>
        <strong>{{ message.author.username }}</strong>: {{ message.text }}
        <small>відправлено {{ message.created_at|date:"d M Y H:i" }}</small>
        {% if message.author == request.user %}
        <a href="{% url 'message_edit' message.id %}">Редагувати</a>
        <a href="{% url 'message_delete' message.id %}">Видалити</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Відправити</button>
</form>
{% endblock %}
{% block extra_js %}
<script src="{% static 'dist/checkUserStatus.bundle.js' %}"></script>
{% endblock %}