<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ chat.name }}</title>
</head>
<body>
{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for message in messages %}
            {% if message.tags == 'error' %}
                alert("{{ message }}");
            {% endif %}
        {% endfor %}
    });
</script>
{% endif %}




    <h1>{{ chat.name }}</h1>
<ul>
    {% for message, can_edit_or_delete in messages %}
        <li>{{ message.content }} - {{ message.author.username }} - {{ message.created_at }}
        {% if can_edit_or_delete %}
            <a href="{% url 'edit_message' pk=message.id %}">Edit</a>
            <a href="{% url 'delete_message' pk=message.id %}">Delete</a>
        {% endif %}
        </li>
    {% endfor %}
</ul>

    <form method="post" action="{% url 'send_message' chat_id=chat.id %}">
        {% csrf_token %}
        <label for="content">Write message:</label>
        <input type="text" name="content">
        <button type="submit">Send</button>
    </form>
<h2>Participants:</h2>
<ul>
    {% for participant in chat.participants.all %}
        <li>{{ participant.username }}
            {% if user.is_superuser and user != participant %}
                <a href="{% url 'remove_participant' chat_id=chat.id participant_id=participant.id %}">Remove</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>


</body>
</html>
