<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/styles/style.css">
<head>
  <title>Про</title>
</head>
<body>
<a href="/login">Вхід</a>
<a href="/register">Реєстрація</a>
<a href="/logout">Вихід</a>
<a href="/">Головна</a>
<div>
  <pre>
    Це простий додаток на 4 сторінки з яких:
    1 сторінка home яка містить посилання на 3 інших; виводиться "Привіт, {{ username }}".
    1 сторінка register для реєстрації користувача на якій є поле для вводу Імені емайлу та пароля.
    1 сторінка login для входу на сайт зарежстрованих користувачів, після введення емайл, пароль та натискання кнопки - переходимо на сайт
    1 сторінка about довільна сторінка, її оформлення та функціонал - на свій розсуд, додано посилання на головну сторінку. та виводиться список всіх користувачів

    Серверна частина написана з використанням бібліотек wtforms, Flask, flask_sqlalchemy, random
    Реалізовано роботу з БД
  </pre>


</div>
<div>
  <p>Список всіх користувачів а сайті</p>
  {% if all_user %}
    {% for user in all_user %}
      <div class="user_list" >
        {{ user.username }}
      </div>
    {% endfor %}
  {% endif %}
</div>

</body>
</html>
