<!DOCTYPE html>
<html>
<head>
  <title>Реєстрація користувача</title>
</head>
<body>
  <h1>Увійдіть або <a href="/register">зареєструйтеся</a> для перегляду стоінки</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" style="font-weight: bold;">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<form method="POST" action="/login" class="login-form">
    <p>Вхід</p>
    {{ login_form.email.label }} {{ login_form.email(class="login-input") }}
    {{ login_form.password.label }} {{ login_form.password(class="login-input") }}
    <input type="submit" value="Login" class="login-button">
</form>
</body>
</html>
